/*
    Remove default underline
    and add padding
*/
a       {
        text-decoration: none;
        padding-bottom: 3px;
}

/*
    Add custom underline
*/
a:hover {
        border-bottom: 1px solid blue; 
}